/* styling hero page */
body{
    background-image: url("./assests/images/hero\ page\ bg\ image.avif");
    background-repeat: no-repeat;
    background-size: cover;
   filter: brightness(100%);
}

.hero-page-div{
height: 100px;
width: 600px;
background-color: #F6FCDF;
color: black;
padding: 15px;
}
/* divs */
.container-div{
    width: 100%;
    padding: 20px;
    margin:50px auto;
    display: flex;
    flex-direction: row;
    justify-content: center; 
}
.box{
    width: 200px;
    background-color: aliceblue;
    margin: 10px 10px;
    box-shadow: 0 0 2px 2px rgba(16, 16, 16, 0.1);
    transition: 0.7s;
    border-radius: 2px;
}
.box img{
    display: block;
    width: 100%;
    border-radius: 5px;
}
.box:hover{
    transform:scale(1.3);
    z-index: 2;
}
/* information div */
.info-div{
    width: 90%;
    height: auto;
    background-color: aliceblue;
    padding: 20px;
}
/* footer */
.footer{
    width: 100%;
    height:80px;
    background-color: #F6FCDF;
    margin-top: 3rem;
    padding: 15px;
}